{% extends 'base_user_interface.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="about-block">
    <div class="about-header">
        <h1 class="about">About Us</h1>
    </div>
    <div class="image-container">
     <img src="../static/images/pic1.jpg" alt="">
    </div>
    <div class="about-content">
        <p class="about-text">If you’re in need of great car wash service or car detailing,
            Sandana Service Station is the place to go. Both of our locations in Sandana and Sidhauli are conveniently located,
            making it easy to get exactly what you need make it easy to get exactly what you need to ensure that your car stays in amazing shape.
            We take a lot of pride in always being able to provide what our customers need, when they need it. If you come visit any of our convenient locations,
            you’ll be able to see why we’re the only place that many people will go to get their car washed or detailed.
        </p>

        <h1>We have 30+ years of experiences for give you better quality results.</h1>

        <h1>Car Washing And Detailing</h1>

        <ul>
            <li><i class="far fa-check-circle"></i>
                Seats washing</li>
            <li>Vacuum cleaning</li>
            <li>Interior wet cleaning</li>
           <li>Window wiping</li>
        </ul>

        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!
        </p>
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!
        </p>
    </div>
</div>

{% endblock %}
