<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li><a href="/employee">Home</a></li>
            <li><a href="/employee/members">Members</a></li>
            <li><a href="/employee/reservations">Reservations</a></li>
            <li><a href="/employee/support_center">Support</a></li>
            <li><a href="/logout">Logout {{session.username}} </a></li>
        </ul>
    </div>
</div>
{% block content %}

{% endblock %}
<script src="../static/js/script.js"></script>
</body>
</html>
