<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="menu-wrap">
    <div class="menu">
        <ul class="nav">
            <li class="nav-bar"><a href="/" class="nav-bar-link">Home</a></li>
            <li class="nav-bar"><a href="/about" class="nav-bar-link">About Us</a></li>
            <li class="nav-bar"><a href="/service" class="nav-bar-link">Service</a></li>
            <li class="nav-bar"><a href="/offers" class="nav-bar-link">Offers</a></li>
            <li class="nav-bar"><a href="/memberships" class="nav-bar-link">Membership</a></li>
            <li class="nav-bar"><a href="/reservation" class="nav-bar-link">Reservation</a></li>
            <li class="nav-bar"><a href="/contact" class="nav-bar-link">Contact</a></li>
        </ul>
    </div>
</div>

{% block content %}{% endblock %}

<footer>
    <div class="footer-wrap">
        <div class="footer-menu-first">
            <ul>
                <li><a href="/about" class="footer-bar-link">About us</a></li>
                <li><a href="" class="footer-bar-link">Career</a></li>
                <li><a href="" class="footer-bar-link">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-menu-second">
            <ul>
                <li><a href="" class="footer-bar-link">Blog</a></li>
                <li><a href="/contact" class="footer-bar-link">Contact</a></li>
                <li><a href="" class="footer-bar-link">Site Map</a></li>
            </ul>
        </div>
        <div class="footer-menu-third">
        <ul>
            <li><a href="https://twitter.com/" class="footer-bar-link">Twitter</a></li>
            <li><a href="https://facebook.com/" class="footer-bar-link">Facebook</a></li>
            <li><a href="https://instagram.com/" class="footer-bar-link">Instagram</a></li>
        </ul>
    </div>
    </div>
</footer>

<script src="../static/js/script.js"></script>
</body>
</html>
