{% extends 'base_user_interface.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="membership-header-block">
    <h1>Membership</h1>
</div>

<div class="membership-block">
    <div class="membership-offers">
        <div class="offer">
            <div class="offer-header">
                <h2>Chauffeur Card</h2>
            </div>
            <div class="offer-body">
                <p>A well-designed chauffeur business card will help you present yourself in the best possible light to a potential client. It is a marketing tool that reflects your professionalism and brand identity.
                    For a chauffeur, a business card is the first step in building a solid professional network and attracting new clients.
                    In this guide we will explain why it is essential to have business cards and show you step by step how to create a design that suits your needs.</p>
                <ul>
                    <li>Demonstrate your authority and professionalism</li>
                    <li>Improve your marketing, as the business card can also be used to leave your contact details at an event or if you need to keep in touch with a potential client</li>
                </ul>
                <p>Price per Car: £70.00 per month. (Minimum commitment 12 months) Special Offer: 1 month free when you
                    buy 12 months, £840</p>
            </div>
            <a href="https://www.zazzle.com/chauffeur+business+cards" class="order-button">Apply Now</a>
        </div>

        <div class="offer">
            <div class="offer-header">
                <h2>Economy Card</h2>
            </div>
            <div class="offer-body">
                <p>Economy cards are mainly used for tickets, promotional activities , event pass, bulk distribution, fund raising cards etc. O my god, that means no extra plate charges! Now that is real economical cards.
                    They come with multicolored front printing at no additional plate charges. Now you can get printed your company aspects, goal, vision, and all of that sort.</p>
                <ul>
                    <li>Monthly Price per Car: £25.95</li>
                    <li>Then pay only £3.25/£4.25 each time you visit</li>
                </ul>
            </div>
            <a href="" class="order-button">Order</a>
        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>Platinum Card</h2>
            </div>
            <div class="offer-body">
                <p>Platinum  Cards often include exclusive travel benefits like airport lounge access, concierge services, travel insurance,
                    and lost baggage reimbursement. Platinum Cards typically offer purchase protections like extended warranties, returns, refunds, and product guarantees.</p>
                <ul>
                    <li>Price per Car: £52.50 per month.(Minimum commitment 12 months)</li>
                </ul>
                <p>Special Offer One month FREE when you buy 12 months in advance, £630</p>
            </div>
            <a href="" class="order-button">Order</a>
        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>Club Card</h2>
            </div>
            <div class="offer-body">
                <p>Club Cards and Payment Services Limited (formerly known as SBI Cards and Payment Services Private Limited) is an Indian financial services company that offers Indian consumers extensive
                    access to a wide range of world-class, value-added payment products and services.</p>
                <ul>
                    <li>After 12 cleans get a free Mini Valet worth £21.95</li>
                </ul>
            </div>
            <a href="" class="order-button">Order</a>
        </div>

    </div>
    <div class="membership-form">
    </div>

    <div class="order-header-block">
        <h1>Order Form</h1>
    </div>
    <div class="order-form-block">
        <h3>Your Details:</h3>
        <form action="" method="POST">
            <input type="text" id="firstname" name="firstname" placeholder="First Name" required>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="tel" id="phone" name="phone" placeholder="Phone" required>
            <h6>Address</h6>
            <input type="text" id="address" name="address" placeholder="Address" required>
            <input type="text" id="city" name="city" placeholder="City" required>
            <input type="text" id="postalcode" name="postalcod" placeholder="Postal Code" required>
            <input type="text" id="country" name="country" placeholder="Country" required>
            <select name="gender" id="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <h3>Membership Options</h3>
            <h5>Choose an option</h5>
            <select name="offertype" id="offertype">
                <option value="Chauffeur Card monthly">Chauffeur Card monthly</option>
                <option value="Chauffeur Card yearly">Chauffeur Card yearly</option>
                <option value="Economy Card monthly">Economy Card monthly</option>
                <option value="Economy Card yearly">Economy Card yearly</option>
                <option value="Platinum Card monthly">Platinum Card monthly</option>
                <option value="Platinum Card yearly">Platinum Card yearly</option>
                <option value="Club Card monthly">Club Card monthly</option>
                <option value="Club Card yearly">Club Card yearly</option>
            </select>
            <input type="submit" value="Order Now">
        </form>
    </div>
</div>


{% endblock %}
