{% extends 'base_user_interface.html' %}


{% block title %} Services {% endblock %}

{% block content %}
<div class="serviceblock">
    <div class="service-title-block">
        <h1 class="service-title">Services at Sandana Service Station</h1>
    </div>
    <div class="service-body">
        <p>Sandana Service Station is all set to capitalise on the boom in the automotive sector and has embarked on an exciting journey with its best-in-class car wash and cleaning service.
            The company also offers franchise opportunities to small businesses and aspiring young entrepreneurs to join its exciting journey as franchisee associates. With highly
            qualified cleaning experts, materials, and technology, we provide a 360-degree car washing service. Sandana Service Station’s wide range of car wash services includes washing,
            vacuuming, machine rubbing, polishing, interior and exterior shampooing, air conditioning repair, and detailing among others. Our centres are conveniently positioned
            throughout India's major cities. We offer a wide range of services to all models of small cars, hatchbacks, sedans, MUVs, 5-seater SUVs, and 7-seater SUVs.It is high
            time to leverage the opportunities being offered by a high-growth segment in the Automobile sector- Car washing and cleaning service. The rapidly growing segment can
            make young and energetic people entrepreneurs.We utilise only the best cleaning supplies and equipment, including the most up-to-date tools and technologies. We provide
            complete service for all models of high-end vehicles including sedans, MUVs, 5-seater SUVs, and 7-seater SUVs in all major cities across India. One of the most critical
            components of your high-end vehicle is the air conditioning system. If you notice a bad odour emanating from your car's vents, you should call our AC maintenance service
            right once. In this area, too, our consumers have expressed complete contentment. So make sure to have a look at the most comprehensive package we have to offer. Our
            expert personnel provide the best services possible by attending to every detail of washing, detailing, and cleanliness. We wish to transform automobile owners'
            perceptions of taking thorough care of their vehicles with our exceptional products.</p>
    </div>


    <h3>Fleet Services</h3>
    <p>Welcome to our Fleet Program, where we not only simplify the process of maintaining and repairing your fleet vehicles but also show that we care about your
        business’s success. This program is designed to accommodate businesses with 3 or more vehicles at The Auto Spa, The Auto Spa Express, The Lube Center, and
        The Auto Repair. At WLR Automotive Group, we are committed to providing friendly, expert service to all Fleet Drivers because we genuinely care about your
        fleet’s performance and your business’s smooth operation.</p>

    <h3>Drive Thru Services</h3>
    <p>A drive-through or drive-thru (a sensational spelling of the word through), is a type of take-out service provided by a business that allows customers to purchase
        products without leaving their cars. The format was pioneered in the United States in the 1930s, and has since spread to other countries.</p>

    <h3>Bespoke Detailing Services</h3>
    <p>Professional detailing services use specialized equipment, such as high-pressure washers, specialized polishing machines, and specialized cleaning solutions,
        to get the best results. This equipment is expensive and must be maintained, adding to the cost of the service.</p>

    <h3>BABY ACCESSORIES STEAM CLEANING SERVICE</h3>
    <p>After receiving many requests, we have decided to expand our steam cleaning service to help parents keep their baby accessories safe and clean
       Steam cleaning is one of best and most natural ways to deep clean any surface. Using our professional high pressure steam cleaning machine, we are able to
        safely deep clean and sanitise any children’s equipment without having to use any toxic chemicals that can be harmful for the health.
         Our Steam cleaning machine is powerful enough to remove dirt, grime and bacteria but soft enough to not damage any surface.</p>
</div>
{% endblock %}
