{% extends 'base_user_interface.html' %}


{% block title %} Services {% endblock %}

{% block content %}
<div class="serviceblock">
    <div class="service-title-block">
        <h1 class="service-title">Services at SuperCarWash</h1>
    </div>
    <div class="service-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>
    </div>


    <h3>Fleet Services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>

    <h3>Drive Thru Services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>

    <h3>Park & Clean</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>

    <h3>Bespoke Detailing Services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>

    <h3>Childrens Car Seat / Buggy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!</p>
</div>
{% endblock %}
